.search-bar .search {
    -fx-font-size: 22;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-background-color: #dfe6e9;
    -fx-padding: 8;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

.search-bar .search:focused {
    -fx-border-color: #2d3436;
}

.context-menu {
}

#my-menu {
    -fx-background-color: red;
}

.context-menu .menu-item {
    -fx-padding: 10 0 0 10;
    -fx-background-color: red;
}

.context-menu .menu-item .label {
    -fx-font-size: 18px;
}

.context-menu .menu-item:focused {
    -fx-background-color: #33658A;
}

.context-menu .menu-item:focused .label {
    -fx-text-fill: #fff;
}