
.target-form-group .label {
    -fx-font-size: 18;
    -fx-text-alignment: CENTER;
    -fx-min-width: 120;
}

.explain-form-group {
    -fx-spacing: 4;
}


.explain-form-group .label {
    -fx-padding: 0 12 0 20;
    -fx-font-size: 14;
    -fx-font-style: italic;
}

.explain-form-group .combo-box {
    -fx-background-color: #2d3436;
    -fx-pref-width: 140;
    -fx-text-fill: #fff;
    -fx-font-size: 18;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.explain-form-group .combo-box .cell:selected {
    -fx-text-fill: #b2bec3;
}

.explain-form-group .combo-box .label {
    -fx-background-color: #282620;
}

.explain-form-group .combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #636e72;
}

.explain-form-group .combo-box-popup .list-view .list-cell {
    -fx-background-color: #2d3436;
    -fx-text-fill: #fff;
}
